<div class="container">
    <div class="col-lg-6 my-4 mx-auto">
        <h1 class="text-header text-center">{{ title }}
            <hr>
        </h1>

        <div class="text-muted fs-6 mb-3">
            <p *ngFor="let paragraph of resumeData?.basics?.aboutText?.paragraphs" class="text mb-4">
                {{ paragraph }}
            </p>

            <!-- <ul class="text mb-4">
                <li *ngFor="let course of aboutText.courses">
                    {{ course }}
                </li>
            </ul> -->

        </div>

        <app-skills></app-skills>

    </div>

</div>