<div class="container">
    <div class="col-md my-4 mx-auto">
        <h1 class="text-header text-center">About Me
            <hr>
        </h1>

        <div class="text-muted mb-3">
            <p class="text mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dui nisl. Phasellus vitae hendrerit
                orci, eget semper lacus. Cras tristique tristique rutrum.
            </p>
            <p class="text mb-4">
                Donec aliquet, tellus nec pretium posuere, nisi lectus condimentum urna, ut sagittis felis dolor nec
                quam. Pellentesque efficitur, velit quis elementum eleifend, erat metus dapibus ex, nec ultricies velit
                augue sed metus. Pellentesque eleifend volutpat leo eu consectetur. Quisque eleifend, mauris et
                vestibulum laoreet, elit mauris mollis urna, quis aliquet nulla orci id sem.
            </p>
            <p class="text mb-4">
                Proin dictum purus ipsum, tincidunt venenatis diam tincidunt vel. Ut ut urna placerat, vestibulum odio
                et, pretium nisi. Aenean cursus, lectus nec dictum ullamcorper, felis augue tincidunt arcu, eget
                lobortis eros metus non purus.
            </p>
        </div>


        <app-skills></app-skills>

    </div>

</div>