<div class="container">
    <div class="col-lg-6 my-4 mx-auto">
        <h1 class="text-header text-center">About
            <hr>
        </h1>

        <div class="text-muted fs-6 mb-3">
            <p class="text mb-4">
                {{ text.p1 }}
            </p>
            <p class="text mb-4">
                {{ text.p2 }}

            </p>
            <p class="text mb-4">
                {{ text.p3 }}

            </p>
            <p class="text mb-4">
                {{ text.p4 }}

            </p>
            <p class="text mb-4">
                {{ text.p5 }}

            </p>
            <p class="text mb-4">
                {{ text.p6 }}

            </p>

        </div>


        <app-skills></app-skills>

    </div>

</div>