<div class="container">
    <div class="row align-items-center">

        <div class="col-lg my-4">
            <h1 class="text-header text-center">Working Experience</h1>
        </div>
        <div class="col-lg">
            <div class="timeline">
                <div class="card border-0 timeline-box left">
                    <div class="card-body">
                        <div class="date">2018</div>
                        <h5 class="card-title">Maternity Leave & Studies</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Chisinau</h6>
                    </div>
                </div>

                <div class="card border-0 timeline-box right">
                    <div class="card-body">
                        <div class="date">2014</div>
                        <h5 class="card-title">Research Associate</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Pedersen & Partners, Chisinau & Singapore</h6>
                    </div>
                </div>

                <div class="card border-0 timeline-box left">
                    <div class="card-body">
                        <div class="date">2013</div>
                        <h5 class="card-title">Research Analyst, Shared Resources Center</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Pedersen & Partners, Chisinau</h6>
                    </div>
                </div>

                <div class="card border-0 timeline-box right">
                    <div class="card-body">
                        <div class="date">2013</div>
                        <h5 class="card-title">Sales Agent and Customer Service</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Brainstrom Cafe (ex-Erudit Club), Chisinau</h6>
                    </div>
                </div>

                <div class="card border-0 timeline-box left">
                    <div class="card-body">
                        <div class="date">2011</div>
                        <h5 class="card-title">Call-Center Customer Service Specialist</h5>
                        <h6 class="card-subtitle mb-2 text-muted">BC "Universalbank" SA, Chisinau</h6>
                    </div>
                </div>

            </div>

            <div class="row justify-content-center">
                <a class="btnCV btn rounded-pill btn-lg" [style.width.px]="btnWidth" download="Elena-Pistruga-CV.pdf"
                    href="./assets/doc/jbrlpsfrtvw274r8fikjl.pdf" target="_blank">Download CV</a>
            </div>

        </div>
    </div>
</div>