<div class="container">
    <div class="row align-items-center">

        <div class="col-lg my-4">
            <h1 class="text-header text-center">Working Experience</h1>
        </div>
        <div class="col-lg">
            <div class="timeline">
                <div class="card border-0 timeline-box "
                    *ngFor="let role of resumeData?.roles; let even = even; let odd = odd;"
                    [ngClass]="{ right: odd, left: even }">
                    <div class="card-body">
                        <div class="date">{{ role.startDate | slice: -4 }}</div>
                        <h5 class="card-title">{{ role.position }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ role.company}}</h6>
                    </div>
                </div>

            </div>

            <div class="row justify-content-center">
                <a class="btnCV btn rounded-pill btn-lg" [style.width.px]="btnWidth" download="Elena-Pistruga-CV.pdf"
                    href="./assets/doc/Elena-Pistruga-CV.pdf" target="_blank">Download CV</a>
            </div>

        </div>
    </div>
</div>