<div class="container-fluid" id="contact">
    <div class="row align-items-center">
        <div class="col d-none d-md-block">
            <img src="/assets/images/pexels-contact-light.jpg" class="img-fluid ">

        </div>
        <div class="col">
            <div class="container ps-4 mx-auto">
                <h1 class="text-header">{{ title }}</h1>

                <div class="row my-4 justify-content-sm-center" *ngFor="let contact of resumeData?.basics?.contacts">
                    <div class="col">
                        <i class="{{contact.icon}} fs-5"></i>
                        <span class="text-muted fs-5 ms-2">
                            <a class="text-muted" href="{{contact.url}}">
                                {{ contact.account }}
                            </a>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>