<div class="row">
    <div class="intro-left-container col d-flex justify-content-center">

        <img class="intro-pic-1" src="assets/images/pexels-light-leaf-2.jpg">
        <img class="intro-pic-2" src="assets/images/pexels-light-ficus.jpg">
        <img class="intro-avatar" src="assets/images/Lenke.jpg">

    </div>
    <div class="col d-flex align-items-center">
        <!-- {{ resume.basics.summary }} -->
        <div class="intro-text col-md-10">
            <h1 class="intro-text-header"> Hello and welcome!</h1>
            <p class="intro-text-parag">{{ resumeInfo.basics.summary }}</p>
        </div>
    </div>

</div>