.intro-title {
  font-size: 5vw !important;
}

.intro-body {
  font-size: 2vw !important;
  color: #667d60;
}

.intro-pic,
.intro-portrait {
  border: 1px solid #f8f9fa;
}

.intro-left-container {
  height: 100vh;
  position: relative;
}

.intro-pic {
  width: 20vw;
  position: absolute;
  top: 5%;
  right: 30%;
}

.intro-portrait {
  width: 18vw;
  position: absolute;
  top: 20%;
  right: 15%;
}

.background-img {
  width: 100vw;
  position: relative;
}

.intro-text {
  position: absolute;
  font-family: "Voltaire", sans-serif;
  color: #425a4a !important;
  padding-right: 5vw;
}

@media screen and (max-width: 1367px) {
  .background-img {
    /* width: 100vw; */
    object-fit: cover;
    height: 90vh;
  }

  .intro-text {
    text-align: center;
    margin: 0 9vw;
    background-color: rgb(41, 58, 52, 0.2);
    backdrop-filter: blur(7px);
    border-radius: 5px;
    padding: 5vh 0;
    color: #f8f9fa !important;
  }

  .intro-title {
    font-size: 15vw !important;
  }
  .intro-body {
    font-size: 10vw !important;
    color: #f8f9fa !important;
  }
}

@media screen and (min-width: 500px) {
  .intro-title {
    font-size: 5vw !important;
  }
  .intro-body {
    font-size: 3vw !important;
  }
}
