<div class="row">
    <div class="col intro-left-container d-flex justify-content-center d-none d-xxl-block">

        <img class="intro-pic" src=" assets/images/pexels-light-leaf-2.jpg">
        <img class="intro-portrait " src="assets/images/Lenke.jpg">


    </div>
    <div class="col d-flex">
        <img class="background-img d-xxl-none" src="assets/images/pexels-light-ficus.jpg">

        <div class="intro-text align-self-center">
            <h1 class="intro-title"> Hello and welcome!</h1>
            <h3 class="intro-body">{{ resumeInfo.basics.summary }}</h3>
        </div>
    </div>

</div>