<div class="container-fluid bg-light">
    <div class="row">
        <div class="intro-left-container col d-flex justify-content-center">

            <img class="intro-frame" src="../../assets/images/pexels-light-leaf-2.jpg">
            <img class="intro-avatar" src="../../assets/images/Lenke-1.jpg">

        </div>
        <div class="col d-flex align-items-center">
            <!-- {{ resume.basics.summary }} -->
            <div class="intro-text col-md-10">
                <h1> Hello! Welcome to my website!</h1>
                <h3>I am Elena - an aspiring Front-end Developer, passionate about Angular and Web Technologies!</h3>
            </div>
        </div>

    </div>
</div>