<nav class="navbar navbar-expand-md navbar-light sticky-top bg-light">
    <div class="container">
        <a class="navbar-brand rounded-pill border-0 px-3" href="#">{{ title | uppercase}}</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-angle-double-down"></i>
        </button>
        <div class="collapse navbar-collapse col-md-2 offset-md-5" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 text-center">

                <li class="nav-item">

                    <a class="nav-link rounded-pill border-0" style="text-decoration: line-through; cursor:not-allowed"
                        data-toggle="tooltip" data-bs-placement="bottom" title="In Development">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-pill border-0" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link border rounded-pill border-2" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>