.portfolio-img {
  height: auto;
  object-fit: cover;
}

.imagecol {
  overflow: hidden;
}

.imagecol img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.imagecol:hover img {
  transform: scale(1.3);
}

.portfolio-title {
  font-family: "Voltaire", sans-serif;
  font-size: 1.5rem;
}

.parentrow {
  --bs-gutter-x: 0 !important;
}

.textcol {
  width: 300px;
}
