a {
  text-decoration: none;
  border-bottom: 1px solid #d2d8cc;
}

a:hover {
  text-decoration: none;
  background-color: #d2d8cc;
  transition: 0.5s;
}

div {
  font-family: "Open Sans", sans-serif;
  color: rgb(41, 58, 52);
}

hr {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, white, black, white);
}

.border {
  border: 1px solid #d2d8cc !important;
}

.navbar-brand,
.nav-link,
.text-header {
  font-family: "Voltaire", sans-serif;
}

.card-title {
  font-weight: 600;
}

.navbar-brand,
.nav-link {
  color: #5a6d47;
  font-size: 25px;
}

.navbar-toggler {
  border: none;
  font-size: 2rem;
}

.text-muted {
  color: #667d60 !important;
}
.text-header {
  color: #435a4a;
  margin: 20px 0;
}

.row {
  --bs-gutter-x: 0;
}
